//импортируем все стили в корневой файл со стилями, это будет точка входа
@import "./variables/global.scss";
@import "reset.scss";

@import "./themes/dark.scss";
@import "./themes/light.scss";


html,
body {
  height: 100%;
}

.App{
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .container{
    flex: 1 0 auto
  }
}

input, select, .form-control{
  font-weight: 400 !important;;
  font-size: 1rem !important;;
  &:focus {
    color: #212529 !important;
    background-color: #fff !important;;
    border-color: #999999 !important;;
    outline: 0 !important;;
    box-shadow: 0 0 0 0.25rem rgba(175, 175, 175, 0.25) !important;;
  }
}

.form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
