.App.dark {
  --bg-color: rgb(45, 45, 45);
  --primary-color: #fff; //Заголовки
  --secondary-color: #fff; //Параграфы
  --inverted--bg-color: rgb(231, 231, 231);
  --inverted--txt-color: rgb(13, 13, 13);;
}
