.App.light {
  --bg-color: rgb(248, 249, 250);
  --primary-color: rgb(13, 13, 13); //Заголовки
  --secondary-color: rgb(35, 35, 35); //Параграфы
  --inverted--bg-color: rgb(45, 45, 45);
  --inverted--txt-color: #fff;
}
